
.modal-content{
    background-color: rgb(243, 243, 235);    
}
.modal.fade{ 
    .modal-dialog {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        top: 300px;
        opacity: 0;   
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;     
    }
    .modal-content{
        box-shadow: 20px 20px 0px #1a1a1a;
        -webkit-transition: box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;
    }

}

.modal.fade.show{ 
    .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
        opacity: 1;
    }
    .modal-content{
        box-shadow: 0px 20px 100px #1a1a1a;        
    }
}


@media screen and (max-width:940px) {
    .modal-footer button {        
        width: 100%;
    }
}

