.Menulist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 24px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    color:white;
}

.recipeTile__img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.recipeTile__name{
    max-width: 200px;
    text-align: center;
    margin: 12px 0px;
    font-family: 'Raleway', sans-serif;
    border-radius:6px;
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color:#44c767;
    border:1px solid #18ab29;
    color: white;
}