.user-dashboard {
    background-color: rgba(0, 0, 0, 0.4);
    // height: 150px;
    // width: 100%;
    .dashboard-offset{
        div{
            height: 150px;
            width: 100%;
        }
    }





}

