html{
  background-color: rgb(33, 37, 41);
}
body{
  width: 100%;

  /* fixed background image*/
  background-attachment: fixed !important;
  background: url("./images/foodpic2.PNG") ;
  background-size: cover;
  background-position: left top;  

  /* antialiasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0);

  .overlay{
    box-shadow: 0px 0px 100px black;
  }
  p{
    font-family: 'Open Sans', sans-serif;
  }
}




