html{
  background-color: rgb(33, 37, 41);
}
body{
  width: 100%;

  /* fixed background image*/
  background-attachment: fixed !important;
  background: url("./images/foodpic2.PNG") ;
  background-size: cover;
  background-position: left top;  

  /* antialiasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0);

  .overlay{
    box-shadow: 0px 0px 60px black;
  }
  p{
    font-family: 'Open Sans', sans-serif;
  }
}










// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

// :root {

//   --primary: #58e65d;
//   --secondary: #553bcb;
//   --darkgrey: #22262a;
//   --lightgrey: #d3d3d3;
//   --grey: #808080;
//   --white: #f8f8f8;
//   --darkgreen:#196d1c;
// }

// ul {
//   list-style-type: none;
// }

//   text-decoration: none;
//   color: var(--white);
// }

// body {
//   color: #333;
//   font-family: 'Merriweather', serif;
//   line-height: 1.5;
// }

// .primary-color {
//   color: var(--primary);
// }










/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
